<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Mercado Fresco - Home</title>

</head>

<body>
  <header id="noticias">
    <div class="wrapper">
      <img src="images/logo.svg" alt="Logo" height="40px" width="40px">
      <h1>Mercado Fresco</h1>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG de áudio.
      </audio>
      <nav>
        <ul>
          <li><a href="#noticias">NOTÍCIAS</a></li>
          <li><a href="#produtos">PRODUTOS</a></li>
          <li><a href="#sobre">SOBRE</a></li>
          <li><a href="#mapa">MAPA</a></li>
          <span>_________________</span>
        </ul>
      </nav>
    </div>
  </header>
 
  <section id="image-principal">
    <div class="blur"></div>
    <div class="wrapper">     
      <h4><strong>"Mercado Fresco: Descubra as Delícias da Feirinha de Frutas e Legumes"</strong><br />
      </h4>
    </div>
  </section>

  <section id="produtos">
    <div class="wrapper">
      <ul>
        <center><h4>Produtos Fresquinhos</h4></center>

        <li class="produtos-1">
          <h4>Pera</h4>
          <p>Doçura e frescor em cada mordida.</p>
        </li>
        <li class="produtos-2">
          <h4>Banana</h4>
          <p>Energia e sabor em uma só fruta.</p>

        </li>
        <li class="produtos-3">
          <h4>Maçã</h4>
          <p>O melhor dos dois mundos em uma fruta só.</p>
        </li>

        <li class="produtos-4">
          <h4>Laranja</h4>
          <p>Sabor único em cada mordida.</p>
        </li>
        <li class="produtos-5">
          <h4>Melância</h4>
          <p>Frescor irresistível em uma única fruta.</p>
        </li>
        <li class="produtos-6">
          <h4>Uva</h4>
          <p>Uma explosão de sabores em cada pedaço.</p>
        </li>

        <div class="clear"></div>
      </ul>
    </div>
  </section>
  <section id="feirantes">
    <div class="wrapper">
      <ul>
        <center><h4>Feirantes</h4></center>

        <li class="feirantes-1">
          <h4>Lucia V.</h4>
          <p>Barraquinha de Frutas e Legumes.</p>
        </li>
        <li class="feirantes-2">
          <h4>José A.</h4>
          <p>Trabalha com Queijos e Mel.</p>

        </li>
        <li class="feirantes-3">
          <h4>Frida</h4>
          <p>Produção de Geleias Artesanais.</p>
        </li>

        <div class="clear"></div>
      </ul>
    </div>
  </section>
  <section class="conteudo-principal">
    <div class="wrapper">
      <article id="sobre">
        <h4>Sobre o Mercado Fresco</h4>
        <p>O Mercado Fresco é uma feira fictícia que reúne o melhor em frutas, legumes e produtos frescos. Nesse mercado vibrante, os visitantes podem explorar uma variedade de barracas coloridas, repletas de alimentos saudáveis e saborosos. Os agricultores locais trazem suas colheitas diretamente para o Mercado Fresco, garantindo que os produtos sejam frescos, cultivados com cuidado e de alta qualidade.
          <br><br>
          Nessa feira, os visitantes têm a oportunidade de descobrir uma ampla seleção de frutas e legumes frescos, cultivados de forma sustentável e sem agrotóxicos. Além disso, o Mercado Fresco promove a conexão direta entre os consumidores e os produtores, permitindo que as pessoas conheçam a origem dos alimentos que estão comprando e façam perguntas sobre os métodos de cultivo.
          <br><br>
          No Mercado Fresco, você encontrará desde as tradicionais frutas e legumes até variedades exóticas e sazonais. Os corredores da feira são preenchidos com aromas deliciosos, cores vibrantes e uma atmosfera animada. Os visitantes podem degustar amostras, adquirir produtos frescos para levar para casa ou até mesmo desfrutar de lanches saudáveis preparados na hora.
          <br><br>
          Além das frutas e legumes, o Mercado Fresco também oferece outros produtos relacionados, como conservas artesanais, sucos naturais, pães frescos, mel orgânico e muito mais. É um lugar onde a comunidade se reúne para apoiar os agricultores locais, valorizar a alimentação saudável e desfrutar de uma experiência única de compras.
          <br><br>
          No Mercado Fresco, você pode esperar encontrar alimentos frescos e deliciosos, conhecer pessoas apaixonadas pela produção sustentável e criar laços mais fortes entre produtores e consumidores. É uma feira que celebra a abundância da natureza, promove escolhas conscientes e incentiva um estilo de vida saudável.</p>
      </article>

      <br><br>
      
      <article id="depoimentos">
        <h4>O QUE DIZEM SOBRE NÓS</h4>
        <p>Maria: "O Mercado Fresco é meu local favorito para comprar frutas e legumes. Sempre encontro uma variedade incrível e tudo está sempre fresquinho!"
          <br><br>
          João: "O ambiente do Mercado Fresco é acolhedor e os vendedores são muito atenciosos. Além das frutas e legumes, também encontro produtos orgânicos e opções saudáveis para minha dieta."
          <br><br>
          Laura: "Adoro explorar as bancas do Mercado Fresco em busca de ingredientes frescos e exóticos para minhas receitas. Sempre encontro algo diferente e de alta qualidade."
          <br><br>
          Carlos: "No Mercado Fresco, posso confiar na procedência dos produtos. Saber que estou consumindo alimentos locais e frescos é muito importante para mim e minha família."
          <br><br>
          Ana: "O Mercado Fresco é perfeito para quem busca opções naturais e saudáveis. Além das frutas e legumes, encontro opções de produtos integrais, laticínios frescos e até mesmo produtos de limpeza eco-friendly."</p>
      </article>

      <br><br>

      <article id="mapa">
        <h4>Como chegar</h4>
        <img src="images/mapa.png" alt="" height="250px" width="500px">
      </article>
      <div class="clear"></div>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2023. All rights reserved.</p>
      </section>
      <section id="links-rodape">
        <ul>
          <li>
            <h5>Seções e Links</h5>
          </li>
          <li><a href="#noticias">NOTÍCIAS</a></li>
          <li><a href="#feirantes">FEIRANTES</a></li>
          <li><a href="#depoimentos">DEPOIMENTOS</a></li>         
          <li><a href="https://www.uni7.edu.br/">UNI7</a></li>
        </ul>
      </section>
    </div>
  </footer>
</body>

</html>